html,body,#app{
  height: 100%;
  margin: 0;
  padding: 0;
}
#app{
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
}
.el-breadcrumb{
  margin-bottom: 15px;
  font-size: 12px;
}
.el-card{
  box-shadow: 0 1px 1px rgb(0,0,0,0.15)!important;
}
.el-table{
  margin-top: 15px;
}
.el-pagination{
  margin-top: 15px;
}
.el-aside .el-menu{
  border: 0!important;
}
.el-aside{
  height: 770px;
  background-color: rgb(51, 55, 68);
}
